.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 35px;
}


.informacion-animal {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 120px);
    height: 100%;
    border-radius: 20px;
    border: 5px solid var(--main-color-dark);
    padding: 2% 2%;
    margin-top: 20px;
}

@media (min-width:970px) {
    .informacion-animal {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.image-animal {
    border-radius: 1rem;
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.name-animal {
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}

.info-general {
    margin: 1rem;
}

.info-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 50px;
}

.material-symbols-outlined.icon-animal {
  font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

